.App {
  text-align: center;
}
.navbar {
  background: #fafafafa;
  padding: 20px;
  background-color: #164077;
}
.navbar > nav {
  width: 500px;
  margin: 0 auto;
}
nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav > a {
  text-decoration: none;
  color: white;
}
nav > a:hover {
  font-weight: 600;
}
.active {
  font-weight: 600;
}
.main {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.add-friend {
  margin: 0 auto;
  margin-top: 40px;
}

.add-friend > button {
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #164077;
  color: white;
}

.add-friend > button:focus {
  outline: 0;
}
